<nb-auth-block>
  <h2 class="title">Sign Up</h2>
  <form (ngSubmit)="register()" #form="ngForm">
    <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div><strong>Hooray!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <div class="form-group">
      <label for="input-name" class="sr-only">Full name</label>
      <input name="fullName" [(ngModel)]="user.fullName" id="input-name" #fullName="ngModel"
             class="form-control" placeholder="Full name"
             [class.form-control-danger]="fullName.invalid && fullName.touched"
             autofocus>
      <small class="form-text error" *ngIf="fullName.invalid && fullName.touched ">
        Full name is required!
      </small>
      <small
        class="form-text error"
        *ngIf="fullName.invalid && fullName.touched ">
        Full name should contains

        characters
      </small>
    </div>
    <div class="form-group">
      <label for="input-name" class="sr-only">Company</label>
      <input name="company" [(ngModel)]="user.company" id="input-company" #company="ngModel"
             class="form-control" placeholder="Company name"
             [class.form-control-danger]="company.invalid && company.touched"
             autofocus>
      <small class="form-text error" *ngIf="company.invalid && company.touched ">
        Company is required!
      </small>
      <small
        class="form-text error"
        *ngIf="company.invalid && company.touched ">
        Company should contains
        characters
      </small>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Email address</label>
      <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel"
             class="form-control" placeholder="Email address" pattern=".+@.+\..+"
             [class.form-control-danger]="email.invalid && email.touched"
             >
      <small class="form-text error" *ngIf="email.invalid && email.touched ">
        Email is required!
      </small>
      <small class="form-text error"
             *ngIf="email.invalid && email.touched ">
        Email should be the real one!
      </small>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control" placeholder="Password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"
             >
      <small class="form-text error" *ngIf="password.invalid && password.touched ">
        Password is required!
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched ">
        Password should contains
        characters
      </small>
    </div>
    <div class="form-group">
      <label for="input-re-password" class="sr-only">Repeat password</label>
      <input
        name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
        class="form-control" placeholder="Confirm Password" #rePass="ngModel"
        [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
        >
      <small class="form-text error"
             *ngIf="rePass.invalid && rePass.touched ">
        Password confirmation is required!
      </small>
      <small
        class="form-text error"
        *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
        Password does not match the confirm password.
      </small>
    </div>
    <div class="form-group accept-group col-sm-12" *ngIf="getConfigValue('forms.register.terms')">
      <nb-checkbox name="terms" [(ngModel)]="user.terms" [required]="getConfigValue('forms.register.terms')">
        Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
      </nb-checkbox>
    </div>
    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
            [class.btn-pulse]="submitted">
      Register
    </button>
  </form>
  <div class="links">
    <ng-container *ngIf="socialLinks && socialLinks.length > 0">
      <small class="form-text">Or connect with:</small>
      <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks">
        <a (click)="loginSocial(socialLink.name)"
              [attr.class]="socialLink.icon"
              [class.with-icon]="socialLink.icon" style="cursor: pointer;">{{ socialLink.title }}</a>
        </ng-container>
      </div>
    </ng-container>
    <small class="form-text">
      Already have an account? <a routerLink="../login"><strong>Sign in</strong></a>
    </small>
  </div>
</nb-auth-block>
