<nb-auth-block>
  <h2 class="title">Change password</h2>
  <small class="form-text sub-title">Please enter a new password</small>
  <form (ngSubmit)="resetPass()" #resetPassForm="ngForm">
    <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
      <div><strong>Oh snap!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
      <div><strong>Hooray!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">New Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control form-control-lg first" placeholder="New Password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"


             autofocus>
      <small class="form-text error" *ngIf="password.invalid && password.touched">
        Password is required!
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched ">
        Password should contains
        characters
      </small>
    </div>
    <div class="form-group">
      <label for="input-re-password" class="sr-only">Confirm Password</label>
      <input
        name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
        class="form-control form-control-lg last" placeholder="Confirm Password" #rePass="ngModel"
        [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
      >
      <small class="form-text error"
             *ngIf="rePass.invalid && rePass.touched ">
        Password confirmation is required!
      </small>
      <small
        class="form-text error"
        *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
        Password does not match the confirm password.
      </small>
    </div>
    <button [disabled]="submitted || !resetPassForm.form.valid" class="btn btn-hero-success btn-block"
            [class.btn-pulse]="submitted">
      Change password
    </button>
  </form>
  <div class="links col-sm-12">
    <small class="form-text">
      Already have an account? <a routerLink="../login"><strong>Sign In</strong></a>
    </small>
    <small class="form-text">
      <a routerLink="../register"><strong>Sign Up</strong></a>
    </small>
  </div>
</nb-auth-block>
