<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">Admin<span></span></div>
  </div>
</div>

<div class="header-container">
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action icon="nb-power-circled" class="" (click)="toggleSettings()">Deconnexion</nb-action>
    <nb-action  (click)="startSearch()" >
      <a>Deconnexion</a>

    </nb-action>
  </nb-actions>
</div>
